canvas
 {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 5s;
    margin-top: 50px;
    animation-iteration-count: infinite;
 }

 @keyframes example
 {
     from{box-shadow: 1px 1p 38px grey;}
     to{box-shadow: 1px 1px 38px grey;}

 }

 body
{
background-color: #ace9f2;
}

h2
{
    color:#26226b;
    background-color: #d6b5eb;
}